@{
    Layout = "";
}
@model DataAccess.Models.Account
<!-- icon list-->
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">

<head>
    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <!-- Site Title-->
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
          content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css?family=Lato:400,700,400italic%7CPoppins:300,400,500,700">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/main.css">
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, .3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel,
        html.lt-ie-10 .ie-panel {
            display: block;
        }
    </style>
</head>

<body>
    <div class="ie-panel">

        <a href="http://windows.microsoft.com/en-US/internet-explorer/">
             <img src="~/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820"
                      alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today.">

        </a>
    </div>

    <!-- Page preloader-->
    <div class="page-loader">
        <div>
            <div class="page-loader-body">
                <div class="loader">

                    <div class="door"></div>
                    <div class="hotel-sign"><span>H</span><span>O</span><span>T</span><span>E</span><span>L</span></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header-->
    <header class="page-header" style="padding-bottom: 24px">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
            <nav class="rd-navbar rd-navbar-default-with-top-panel" data-layout="rd-navbar-fixed"
                 data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed"
                 data-lg-layout="rd-navbar-fullwidth" data-lg-device-layout="rd-navbar-fullwidth" data-md-stick-up-offset="90px"
                 data-lg-stick-up-offset="150px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true"
                 data-lg-stick-up="true">
                <div class="rd-navbar-top-panel rd-navbar-collapse">
                    <div class="rd-navbar-top-panel-inner">
                        <div class="left-side">
                        </div>
                        <div class="center-side">
                            <!-- RD Navbar Brand-->
                            <div class="rd-navbar-brand fullwidth-brand">

                                <a class="brand-name" href="index.html">
                                          <img src="~/images/logoHomestay.png" alt="" width="314" height="48" />

                                </a>

                            </div>
                        </div>
                        <div class="right-side">




                            <!-- Contact Info-->
                            <div class="contact-info">
                                <div class="unit unit-middle unit-horizontal unit-spacing-xs">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rd-navbar-inner">
                    <!-- RD Navbar Panel-->
                    <div class="rd-navbar-panel">
                        <!-- RD Navbar Toggle-->
                        <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                        <!-- RD Navbar collapse toggle-->
                        <button class="rd-navbar-collapse-toggle" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></button>
                        <!-- RD Navbar Brand-->
                        <div class="rd-navbar-brand mobile-brand">

                            <a class="brand-name" href="index.html">
                                        <img src="~/images/logoHomestay.png" alt="" width="314" height="48" />

                            </a>

                        </div>
                    </div>
                    <div class="rd-navbar-aside-right">
                        <div class="rd-navbar-nav-wrap">
                            <div class="rd-navbar-nav-scroll-holder">
                                <ul class="rd-navbar-nav">
                                    <li>

                                        <a asp-controller="Room" asp-action="Index">Home</a>
                                    </li>
                                    <li class="active">

                                           <a asp-controller="Room" asp-action="AboutUs">About Us</a>
                                    </li>
                                      <li>
                                        <a asp-controller="Comment" asp-action="UserComment">Comment</a>
                                    </li>
                                    
                                     <li>
                                            <a asp-controller="Bill" asp-action="History">History</a>
                                        </li>
                                        <li>
                                            <a asp-controller="Account" asp-action="InfoUsser">@Model.FullName</a>
                                        </li>
                                        <li>
                                            <a asp-controller="Account" asp-action="Login">Logout</a>
                                        </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
        <div class="wrapper wrapper--w680">
            <div class="card card-4">
                <div class="card-body">
                    <h2 class="title">Your Information</h2>
                    <form asp-action="InfoUsser">
                         <input type="hidden" asp-for="Idacc" />
                    <input type="hidden" asp-for="St"  />
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Full Name</label>
                                    <input class="input--style-4" type="text" asp-for="FullName">
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Email</label>
                                    <input class="input--style-4" type="email" asp-for="Mail">
                                    <span asp-validation-for="Mail" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Password</label>
                                    <input class="input--style-4" type="password" asp-for="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <div class="input-group">
                                    <label class="label">Phone Number</label>
                                   <input class="input--style-4" type="text" asp-for="Phone">
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="p-t-15">
                            <button class="btn btn--radius-2 btn--blue" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




    <!-- Page Footer-->
    <footer class="page-footer text-left text-sm-left">
        <div class="shell-wide">

            <div class="page-footer-minimal">
                <div class="shell-wide">
                    <div class="range range-50">
                        <div class="cell-sm-6 cell-md-3 cell-lg-4 wow fadeInUp" data-wow-delay=".1s">
                            <div class="page-footer-minimal-inner">
                                <h4>Opening Hours</h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <div class="group-xs">
                                            <div>
                                                <dl class="list-desc">
                                                    <dt>Weekdays: </dt>
                                                    <dd class="text-gray-darker"><span>8:00–20:00</span></dd>
                                                </dl>
                                            </div>
                                            <div>
                                                <dl class="list-desc">
                                                    <dt>Weekends: </dt>
                                                    <dd class="text-gray-darker"><span>9:00–18:00</span></dd>
                                                </dl>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <p class="rights">
                                            <span>&copy;&nbsp;</span><span>2022</span><span>&nbsp;</span><span class="copyright-year"></span>HomeStay Corona
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="cell-sm-6 cell-md-5 cell-lg-4 wow fadeInUp" data-wow-delay=".2s">
                            <div class="page-footer-minimal-inner">
                                <h4>Address</h4>
                                <ul class="list-unstyled">
                                    <li>
                                        <dl class="list-desc">
                                            <dt><span class="icon icon-sm mdi mdi-map-marker"></span></dt>
                                            <dd><a class="link link-gray-darker" href="#">Xuân Khánh Ninh Kiều Cần Thơ</a></dd>
                                        </dl>
                                    </li>
                                  
                                </ul>
                               
                            </div>
                        </div>
                        <div class="cell-sm-8 cell-md-4 wow fadeInUp" data-wow-delay=".3s">
                            <div class="page-footer-minimal-inner-subscribe">
                                <h4>Contact</h4>
                             
                                <ul class="list-unstyled">
                                 
                                    <li>
                                        <dl class="list-desc">
                                            <dt><span class="icon icon-sm mdi mdi-phone"></span></dt>
                                            <dd class="text-gray-darker">
                                                Call Us: <a class="link link-gray-darker" href="tel:#">
                                                    +(84) 0832743560
                                                </a>

                                            </dd>
                                        </dl>
                                    </li>
                                </ul>
                                <div class="group">
                                    <span class="text-italic">Follow Us:</span>
                                    <div class="tm-media">
                                        <a href="https://www.facebook.com/an.trong.7393"><img src="~/images/fb.png"></a>
                                        <a href="#"> <img src="~/images/twittr.png"> </a>
                                        <a href="#"> <img src="~/images/insta.png"> </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- PANEL-->
    <!-- END PANEL-->
    <!-- Global Mailform Output-->
    <div class="snackbars" id="form-output-global"></div>
    <!-- PhotoSwipe Gallery-->
    <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">
            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>
            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div>
                    <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
                    <button class="pswp__button pswp__button--share" title="Share"></button>
                    <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
                    <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div>
                <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
                <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__cent"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="~/js/global.js"></script>

    <!-- Javascript-->
    <script src="~/js/core.min.js"></script>
    <script src="~/js/script.js"></script>
    <!--Coded by Drel-->
</body>

</html>