
 .price
 {
    width: 30%;
    height: 20px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 100px ;
    border-radius: 6px; 
 }


.details1 {
    position: relative;
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 20px;
    /* margin-top: 10px; */
}

.details1 .recentOrders {
    position: relative;
    display: grid;
    min-height: 250px;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;

}

.cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

}

.cardHeader h2 {
    font-weight: 600;
    color: var(--blue);
}

.btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px; 

}

.price
{
   text-decoration: none;
   font-size: 10px;
   font-weight: 100px ;
   border-radius: 6px; 
}

.details1 table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;

}

.details1 table thead td {
    font-weight: 600;


}

.details1 .recentOrders table tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details1 .recentOrders table tr:last-child {
    border-bottom: none;
}

.details1 .recentOrders table tbody tr:hover {
    background: var(--blue);
    color: var(--white);
}

.details1 .recentOrders table tr td {
    padding: 15px;

}

.details1 .recentOrders table tr td:last-child {
    text-align: end;
}

.details1 .recentOrders table tr td:nth-child(2) {
    text-align: end;
}

.details1 .recentOrders table tr td:nth-child(3) {
    text-align: center;
}

.status.deliverd {
    padding: 2px 4px;
    background: #8de02c;
    color: var(--white);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
}

@media (max-width:991px) {
    .navigation {
        left: -300px;
    }

    .navigation.active {
        width: 300px;
        left: 0;
    }

    .main {
        width: 100%;
        left: 0;
    }

    .main.active {
        left: 300px;
    }

    .cardBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:768px) {
    .details {
        grid-template-columns: repeat(1, 1fr);
    }

    .recentOrders {
        overflow-x: auto;
    }
}

@media (max-width:480px) {


    .cardBox {
        grid-template-columns: repeat(1, 1fr);
    }

    .user {
        min-width: 40px;

    }

    .navigation {
        width: 100%;
        left: -100%;
        z-index: 1000;
    }

    .navigation.active {
        width: 100%;
        left: 0;


    }

    .toggle {
        z-index: 10001;
    }

    .main.active .toggle {
        position: fixed;
        right: 0;
        left: initial;
        color: #fff;
    }

}