<link rel="stylesheet" type="text/css"
          href="//fonts.googleapis.com/css?family=Lato:400,700,400italic%7CPoppins:300,400,500,700">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
<link rel="stylesheet" href="~/css/list.css">

@model IEnumerable<DataAccess.Models.Room>

<section class="blogs" id="blogs">

        <h1 class="heading"> our <span>Rooms</span> </h1>

        <div class="box-container">
              @foreach (var item in Model)
                {
            <div class="box">
                <img src=@item.Image alt="">
                <div class="content">
                    <div class="icons">
                        <a href="#"> <i class="fas fa-user"></i>@item.NumberRoom</a>
                        <a href="#"> <i class="fas fa-calendar"></i>@item.IdroomTypeNavigation.NameRoomType</a>
                    </div>
                    <h3>Nice and clean room</h3>
                    <p>@item.Description</p>
                    <a>@item.Price VND</a>
                </div>
            </div>
            }
           
        </div>
    </section>
    <section>
        <div class="r-booking">
            <a class="r-book" asp-controller="Room" asp-action="Index" role="button"  > Booking</a>
        </div>
    </section>